.settings-page {
	overflow: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
	overflow-y: overlay;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1.5rem;
	gap: 20px;
	height: 100%;

	.settings-top-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.settings-top {
			width: 600px;
			.settings-head {
				font-weight: 500;
			}

			.settings-top-text {
				margin-top: 10px;
				font-size: 0.95rem;
				color: #64748b;
			}
		}
	}
	.settings-main-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.settings-main {
		width: 600px;

		.header {
			width: 100%;
			height: fit-content;

			.profile-img {
				position: relative;
				width: 75px;
				height: 75px;
				margin-bottom: 5px;
				border-radius: 50%;
				cursor: pointer;

				//! after not showing
				&::after {
					content: 'change';
					text-align: center;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					transition: opacity 0.3s ease;
					background-color: #ffffff5b;
				}

				&:hover &::after {
					opacity: 1;
				}
			}
		}

		.footer {
			width: 100%;
			margin-top: 20px;
			height: fit-content;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}

	.settings-text-input {
		margin-top: 10px;
		@media only screen and (min-width: 1000px) {
			width: 48%;
		}
	}

	.settings-main-down .settings-text-input {
		width: 100%;
	}

	.settings-main-down,
	.settings-main-top,
	.settings-main-middle {
		@media only screen and (min-width: 1000px) {
			display: flex;
			justify-content: space-between;
		}
	}
}
