.page-address-verification {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.page-header {
		padding: 1rem 0 0 1rem;
		font-size: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.body {
		width: 100%;
		height: 100%;
		padding: 1rem;

		overflow: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
		gap: 10px;

		@media only screen and (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media only screen and (min-width: 1300px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media only screen and (min-width: 1400px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
