.page-restore-password {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	.paper {
		width: 400px;
		height: fit-content;
		display: flex;
		flex-direction: column;
		gap: 10px;
		.title {
			padding: 0 10px 10px 10px;
		}
	}
}
