.user-card {
	height: fit-content;
	min-width: 300px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #fff;
	border-radius: 10px;

	.header {
		width: 100%;
		height: fit-content;
		display: flex;
		gap: 20px;
		align-items: center;
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
		.name {
			font-size: 1.2rem;
		}
		p {
			cursor: default;
		}
	}

	p {
		cursor: pointer;
	}

	.footer {
		width: 100%;
		height: fit-content;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
