.navbar {
	height: 120px;
	background-color: #fdfdfd;
	width: 100%;
	display: flex;
	justify-content: flex-end; //* change for sliding content
	padding-right: 3rem;

	@media screen and (max-width: 1100px) {
		padding-right: 1rem;
	}
	@media screen and (max-width: 800px) {
		height: 80px;
	}
}

.slide-content {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	z-index: 5;
	padding-left: 3rem;

	.search {
		align-items: center;
		gap: 10px;
		border: 3px solid #f4f4f4;
		border-radius: 20px;
		padding: 5px 100px 5px 10px;
		display: none;
		@media only screen and (min-width: 800px) {
			display: flex;
		}

		.search-icon {
			margin-top: 2px;
			color: #9a9ca0;
			font-size: 1.5rem;
		}

		.search-input {
			font-size: 1rem;
			border: none;
			outline: none;
		}
	}
}

.navbar-buttons {
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	.log-in-button {
		cursor: pointer;
		color: #3378f7;
		padding: 0.5rem 1.2rem;
		border: 2px solid #3378f7;
		border-radius: 0px 15px 15px 15px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 800px) {
			width: 70px;
			height: 40px;
			padding: 3px;
			font-size: 0.8rem;
		}
	}

	.log-in-button:hover {
		background-color: #f3f6fb;
	}

	.sign-up-button {
		cursor: pointer;
		color: white;
		padding: 0.6rem 1.2rem;
		background-color: #3378f7;
		border-radius: 15px 15px 15px 15px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 800px) {
			width: 70px;
			height: 40px;
			padding: 3px;
			font-size: 0.8rem;
		}
	}
	.sign-up-button:hover {
		background-color: #4089fd;
	}

	.user-icon {
		width: 30px;
		height: 30px;

		&:hover {
			cursor: pointer;
		}
	}
	.user-profilePic {
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
	.log-out {
		position: absolute;
		padding: 1rem;
		background-color: #fdfdfd;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		border-radius: 20px;
		top: 90px;
		right: 2rem;
		padding: 2rem 3rem;
		transition: all 1s;
		.logout-top-part {
			border-bottom: 1px solid #d8d8d8;
			display: flex;
			flex-direction: column;
		}
		.logout-link {
			display: block;
			color: #949699;

			&:hover {
				color: #2a3033;
			}

			&:nth-child(2) {
				padding: 1rem 0;
			}
		}
	}
}
