.navbar {
	height: 120px;
	background-color: #fdfdfd;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-radius: 0 0 10px 10px;
	@media screen and (max-width: 1000px) {
		height: 80px;
	}

	@media screen and (min-width: 1000px) {
		justify-content: flex-end;
	}
}

.slide-content {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	z-index: 5;
	padding-left: 3rem;

	.search {
		align-items: center;
		gap: 10px;
		border: 3px solid #f4f4f4;
		border-radius: 20px;
		padding: 5px 100px 5px 10px;
		display: none;
		@media only screen and (min-width: 800px) {
			display: flex;
		}

		.search-icon {
			margin-top: 2px;
			color: #9a9ca0;
			font-size: 1.5rem;
		}

		.search-input {
			font-size: 1rem;
			border: none;
			outline: none;
		}
	}
}

.fixed-content {
	margin-right: 3rem;
	z-index: 10;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	display: none;

	@media only screen and (min-width: 1000px) {
		display: flex;
	}

	.language-switch {
		width: fit-content;
		height: fit-content;
		font-size: 1.1rem;
		cursor: pointer;
		span {
			transition: all 0.5s;
		}
	}

	.log-in-button {
		cursor: pointer;
		color: #3378f7;
		background-color: white;
		padding: 0.2rem 1.2rem;
		border: 2px solid #3378f7;
		border-radius: 0px 15px 15px 15px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 800px) {
			width: fit-content;
			height: 40px;
			padding: 3px;
			font-size: 0.8rem;
		}
	}

	.log-in-button:hover {
		color: white;
		background-color: #3378f7;
	}

	.sign-up-button {
		cursor: pointer;
		color: white;
		padding: 0.2rem 1.2rem;
		background-color: #3378f7;
		border-radius: 15px 15px 15px 15px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 800px) {
			width: fit-content;
			height: 40px;
			padding: 3px;
			font-size: 0.8rem;
		}
	}
	.sign-up-button:hover {
		background-color: #4089fd;
	}

	.user-icon {
		width: 30px;
		height: 30px;

		&:hover {
			cursor: pointer;
		}
	}
	.user-profilePic {
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
}

.mobile-navigation {
	height: 100%;
	width: 100%;
	max-width: 636px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	@media screen and (min-width: 1000px) {
		display: none;
	}
	.mobile-hamburger {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 1.5rem;
		margin-top: 1px;
	}
	.cityq-logo {
		margin-top: 6px;
	}
}
