.main-container {
  display: flex;
}

main {
  padding: 2rem;
  font-size: 1.2rem;
}

.sidebar {
  border-radius: 0px 20px 20px 0px;
  background-color: #fdfdfd;
  color: white;
  height: 100vh;
  padding: 2.5rem 1.5rem;
  position: relative;
}

// LOGO AND ARROW DESIGN
.top-section {
  margin-left: 2px;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 10px;
  img {
    width: 40px;
    cursor: pointer;
  }
  .logo-name {
    margin-top: -6px;
    color: #2a3033;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .arrow {
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2a3033;
    position: absolute;
    right: -14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fdfdfd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #949699;
  width: 100%;
  padding: 7px 10px;
  border-radius: 10px;
}
.icon {
  font-size: 1.5rem;
  margin-top: 3px;
}

.link_text {
  margin-top: -3px;
}

a {
  text-decoration: none;
}

.link:hover {
  background-color: #efefef;
  color: #2a3033;
  transition: all 0.2s;
}
