.page-post-requests {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	.header {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		p {
			font-size: 1.2rem;
		}
	}

	.segmented-control-default {
		margin-top: 10px;
		width: 80%;
		max-width: 550px;
	}

	.sort-controller-container {
		display: none;
		width: 80%;
		max-width: 550px;
		overflow: hidden;
		border-radius: 20px;

		.sort-controller-inner {
			width: fit-content;
		}
	}

	@media screen and (max-width: 650px) {
		.sort-controller-container {
			display: block;
		}
		.segmented-control-default {
			display: none;
		}
	}

	.body {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
		overflow: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		padding: 2rem 1rem;
		gap: 50px;

		@media only screen and (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
