.auth-input {
	margin-bottom: 10px;
	width: 100%;
}

.auth-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.register-field-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 10px;
}
