.page-explore {
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
	overflow-y: overlay;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem;
	gap: 50px;

	.createpost-header {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.createpost-reactive {
		width: 600px;
		background: #ffffff;
		border-radius: 10px;
		cursor: pointer;
	}
}
