.post-container {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fdfdfd;
	border-radius: 15px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	//carousel
	.post-carousel-container {
		width: 100%;
		padding: 0 1rem;
		height: 200px;
		@media only screen and (min-width: 400px) {
			height: 250px;
		}
		@media only screen and (min-width: 500px) {
			height: 300px;
		}
		@media only screen and (min-width: 600px) {
			height: 350px;
		}
		@media only screen and (min-width: 700px) {
			height: 400px;
		}

		.swiper {
			width: 100%;
			height: 100%;

			.swiper-wrapper {
				width: 100% !important;
				height: 100% !important;
			}
		}

		.carousel-slide {
			width: 100% !important;
			height: 100% !important;
			display: flex;
			justify-content: center;
			align-items: center;

			img,
			video {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

.post-header {
	padding: 1rem 1rem 0.8rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.post-user {
		font-size: 0.9rem;
	}

	.post-city {
		font-size: 0.8rem;
		color: #b9b9b9;
	}
}

.post-title {
	font-size: 0.8rem;
	padding: 1rem;
	@media only screen and (min-width: 1000px) {
		font-size: 1rem;
	}
}

.post-description {
	font-size: 0.8rem;
	padding: 0 1rem;
}

.post-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;

	.votes {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		font-size: 0.9rem;
		color: #b9b9b9;

		.upvote-icon {
			cursor: pointer;
		}

		.downvote-icon {
			cursor: pointer;
		}

		p {
			cursor: default;
		}
	}
	.post-status {
		cursor: default;
		font-size: 0.8rem;
	}
}

.post-for-admin {
	max-width: 400px;
	height: 450px;
	.post-carousel-container {
		height: 250px;
	}

	.votes {
		.upvote-icon {
			cursor: default;
		}

		.downvote-icon {
			cursor: default;
		}
	}
}

.post-for-me {
	max-width: 400px;
	height: 450px;
	.post-carousel-container {
		height: 250px;
	}
}

.post-for-moderator {
	max-width: 400px;
	height: 450px;
	.post-carousel-container {
		height: 250px;
	}

	.post-footer {
		justify-content: flex-end;
		gap: 10px;
	}
	.votes {
		display: none;
	}
}
