@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #e7e9eb;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}
