@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #e7e9eb;
}

.main {
	display: flex;
	flex-direction: column;
}
.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.page {
	margin-top: 10rem; //trebe maree pentru ca navbar e absolute (nu e in dom)
	margin-left: 5.5rem;
	font-size: 3rem;
}
