@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #f5f7f9;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.page {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
}
