.page-post {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;

	.post-carousel-container {
		position: relative;
		width: 100%;
		height: 50%;

		.swiper {
			width: 100%;
			height: 100%;

			.swiper-wrapper {
				width: 100% !important;
				height: 100% !important;
			}
		}

		.carousel-slide {
			width: 100% !important;
			height: 100% !important;
			display: flex;
			justify-content: center;
			align-items: center;

			img,
			video {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
			video {
				width: auto;
			}
		}

		.swiper-button {
			position: absolute;
			top: 0;
			width: 50px;
			height: 100%;
			color: black !important;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				cursor: pointer;
			}

			.button-icon {
				width: 40px;
				height: 40px;
			}
		}
		.next-button {
			right: 1rem;
		}
		.prev-button {
			left: 0;
		}
	}

	.body {
		width: 100%;
		height: fit-content;
		padding: 2rem 3rem;

		@media only screen and (max-width: 400px) {
			padding: 1.5rem;
		}

		.title {
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 1rem;
		}

		.description {
			margin-bottom: 1rem;
			font-size: 1.2rem;
			word-break: break-all;
			white-space: normal;
		}

		.votes {
			display: flex;
			align-items: center;
			gap: 5px;
			margin-bottom: 1rem;
			.upvote-icon {
				cursor: pointer;
			}

			.downvote-icon {
				cursor: pointer;
			}

			.favourite-icon {
				width: 25px;
				height: 25px;
				margin-left: 0.5rem;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.status {
			font-size: 1.1rem;
			margin-bottom: 1rem;
		}

		.buttons {
			display: flex;
			gap: 10px;
		}
	}
}

.page-for-admin {
	.body .votes {
		.upvote-icon {
			cursor: default;
		}

		.downvote-icon {
			cursor: default;
		}
	}
}
